:root {
        --hagray1: #FAFAFA;
        --hagray2: #E7EAE5;
            --hagray3: #757B70;
            --hagray4: #30372D;
            --hablack: #111111;

            --hagreen1: #3FBF5B;
            --hagreen2: #1B5E28;
            --hagreen3: #E8F5E9;

            --hayellow1: #F4B942;
            --hayellow2: #AA6039;
            --hayellow3: #FFF9E6;

            --font-sans: "Noto Sans KR", sans-serif;
            --font-serif: "Noto Serif KR", serif;}


/*전역스타일*/
body{
    max-width: 1440px;
    margin: 0 auto;
}



/*전체 폰트 들어갈거 지정해준 거*/

h1 {
  color: var(--hablack);
  font-family: var(--font-sans);
  font-size: 5rem;        /* 96 -> 80px 수정*/
  font-style: normal;
  font-weight: 700;
  line-height: 6rem;      /* 96px */
}


h2 {
  color: var(--hablack);
  font-family: var(--font-sans);
  font-size: 3.5rem;      /* 56px */
  font-style: normal;
  font-weight: 700;
  line-height: 4.5rem;    /* 72px */
}


h3 {
  color: var(--hablack);
  font-family: var(--font-sans);
  font-size: 2rem;        /* 32px */
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;      /* 32px */
}


h4 {
  color: var(--hablack);
  font-family: var(--font-sans);
  font-size: 1.5rem;        /* 24px */
  font-style: normal;
  font-weight: 700;
  line-height: 1.875rem;    /* 30px */
}


h5 {
  color: var(--hablack);
  font-family: var(--font-sans);
  font-size: 1.25rem;      /* 20px */
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem;    /* 20px */
}


h6 {
  color: var(--hablack);
  font-family:var(--font-sans);
  font-size: 1.125rem;     /* 18px */
  font-style: normal;
  font-weight: 700;
  line-height: normal;     /* 그대로 */
}



.home-regular {
  color: var(--hablack);
  font-family: var(--font-sans);
  font-size: 1.5rem;          /* 32 -> 24px 수정 */
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;        /* 32px */
  letter-spacing: -0.06rem; /* -0.96px */
}




.origin-regular {
  color: var(--hablack);
  font-family: var(--font-sans);
  font-size: 1rem;          /* 16px */
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;      /* 24px */
  letter-spacing: -0.03rem; /* -0.48px */
}



.h7 {
  color: var(--hablack);
  font-family: var(--font-sans);
  font-size: 1rem;          /* 16px */
  font-style: normal;
  font-weight: 700;
  line-height: 1rem;        /* 16px */
  letter-spacing: -0.03rem; /* -0.48px */
}


.intro-regular {
  color: var(--hablack);
  font-family:var(--font-sans);
  font-size: 1.2rem;        /* 24px / 1.5rem -> 1.2rem 으로 수정*/
  font-style: normal;
  font-weight: 400;
  line-height: 3.25rem;     /* 52px */
  letter-spacing: -0.045rem; /* -0.72px */
}

.some-class {
  color: var(--hablack);
  font-family: var(--font-serif);
  font-size: 3.5rem;       /* 56px */
  font-style: normal;
  font-weight: 500;
  line-height: 4.375rem;   /* 70px */
}


/*--------------------------------------------
여기서부터 진심을 판다 하는 히어로 쭉 나오는거
----------------------------------------------------*/

#hero_big {
    background-image: url('./img/meal.png');
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;}

.hero-section {
    position: absolute;
    top: 50%;
    left: 10%;
    right: 50%;
    bottom: 0;
    width: 45vw;
    min-width: 500px;
    max-width: 40%;
    height: 30vh;
    min-height: 200px;
    display: flex;
    align-items: center;}

.hero-text{
    display: flex;
    flex-direction: column;
    max-width: 900px;
}

.hero-content {
    max-width: 800px;
    /*padding: 20px;*/}

.hero-content h2 {
  padding-bottom: 20px;
  box-sizing: border-box;
}

.hero-content p {
  padding-bottom: 74px;
  box-sizing: border-box;
}
    

    /* 버튼 스타일 */
    .button-group {
        display: flex;
        flex-wrap: wrap;
        /*justify-content: center;*/
        gap: 2rem;
        color: var(--hagray1)!important;
      
        }

    .button-group .btn {
        white-space: nowrap;
        color: var(--hagray1)!important;
        font-family: var(--font-sans);
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        background-color: var(--hagray4)!important;
        border-radius: 50px;
        padding: 1rem 2rem;}

    .button-group .btn:hover{
        background-color: var(--hayellow1)!important;
    }

@media (max-width: 820px) {
    .hero-section {
        /* absolute 유지 */
        position: absolute;

        /* 모바일에서 좌표 재조정 */
        top: 30%;         /* 50% → 30%로 내려줌 */
        left: 50%;
        transform: translateX(-50%);

        /* 모바일에서는 폭 문제 제거 */
        width: 100%;
        max-width: 90%;
        min-width: unset;   /* 문제의 원인 제거 */
        height: auto;
    }


    .hero-text {
        text-align: center;      /* 텍스트 중앙 */
        align-items: center;
        width: 100%;
        max-width: 100%;      /* 내부 요소 중앙 */
    }

    .hero-content h2 {
        font-size: 2rem;
        line-height: 1.3;
        margin-bottom: 1rem;
    }

    .hero-content p {
        font-size: 1.2rem;
        line-height: 1.4;
        margin-bottom: 2rem;
        max-width: 320px;    /* 줄바꿈 포인트 생성 */
    }

     .btn {
        flex-basis: 100%;
        max-width: 300px;
        margin: 0 auto;
        text-align: center;
    }

}



/*-----------------------------------------------------------------
여기서 부터 하나로마트 증명 어쩌구 나오는 메인 페이지 2번째
-----------------------------------------------------------------*/
.main-section {
    width: 100%;
    padding: 216px 0;
    text-align: center;
}

.main-title h5 {
    color: var(--hagreen2);
    margin-bottom: 1.9375rem;
}

.main-title h3 {
    color: var(--hablack);
    margin-bottom: 6.0625rem;
}

/* 메인 박스 3개 정렬 */
.main-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 89px;
    margin-bottom: 12.625rem;
    flex-wrap: nowrap;
    
}

.intext {
    display: flex;
    justify-content: center;   /* ➜ 중앙 정렬 */
    align-items: flex-end;     /* ➜ 밑줄 기준 맞춤 */
    gap: 0.3rem;               /* ➜ 간격 조절 */
    width: 100%;               /* ➜ 한 줄 전체 가운데 오도록 */
    text-align: center;
}


/* 박스 개별 */
.main-iconbox {
    min-width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.main-iconbox img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin: 0 auto;
}

.main-iconbox h3 {
    color: var(--hagreen2);
}

.main-iconbox h1 {
    color: var(--hagreen2);
}

.main-iconbox p {
  width: 349px;
    color: var(--hagray3);
}

/* 하단 배너 */
.main-banner {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    
}

.main-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.main-banner h3 {
    position: absolute;
    top: 30%;
    left: 10%;
    color: var(--hagray2);
    display: flex;
}


.main-banner button {
    position: absolute;
    top: 50%;
    left: 10%;
    padding: 0.8rem 1.6rem;
    border: 2px solid var(--hagray1);
    color: var(--hagray1);
    border-radius: 50px;
    cursor: pointer;
}
.main-banner button:hover{
  background-color: var(--hagray1);
  color: var(--hagreen2);
  
  
}




/*미디어쿼리*/

@media (max-width: 768px) {

    .main-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 0 1.5rem;
    }

    .main-iconbox {
        width: 100%;
        text-align: center;
    }

    .main-iconbox img {
        width: 80px;
        height: auto;
        margin-bottom: 1rem;
    }

    .main-iconbox h3 {
        font-size: 1.2rem; 
    }

    .main-iconbox h1 {
        font-size: 2rem;
        line-height: 2.2rem;
    }

    .main-iconbox p {
        font-size: 0.95rem;
        line-height: 1.5rem;
        margin-top: 1rem;
    }


    .intext {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
    }


    
    .main-banner {
        width: 100%;
        padding: 1.5rem;
        text-align: center;
        flex-direction: column;
    }

    .main-banner img {
        width: 100%;
        border-radius: 12px;
        margin-bottom: 1rem;
    }

    .main-banner h3 {
        font-size: 1.4rem;
        line-height: 1.6rem;
        margin-bottom: 1rem;
    }

    .main-banner button {
      padding: 0.8rem 1.5rem;    
      font-size: 0.9rem;         
      margin: 1rem auto 0;       
      display: inline-block;    
      border-radius: 8px;
    }

    .main-banner button:hover {
      padding: 0.8rem 1.5rem;    
      font-size: 1rem;         
      margin: 1rem auto 0;       
      display: inline-block;    
      border-radius: 8px;
      background-color:var(--hayellow1);
      color:var(--hagray3)
    }
}




/*================================================
카드 섹션 나온거
====================================================*/

/*가운데정렬*/
#cardcard {
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 180px;
  box-sizing: border-box;
}

  /*타이틀 디자인*/
  .card-title {
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 69px;
      }
      .card-title h6{
        color: var(--hagreen2);
      }
      .card-title h6:hover{
        text-decoration: underline;
      }

      /*카드 모음*/
      .cardWrap {
        display: flex;
        gap: 24px;
        padding-bottom: 58px;
        overflow-x: auto;
      }

      /*카드 디자인*/
      .cardWrap .card {
        min-width: 400px;
        flex-basis: 1;
        overflow: hidden;
      }
      .cardWrap .card img {
        width: 100%;
        height: 285px;
      }
      /*card:hover*/
      .cardWrap .card:hover img{
        opacity: 0.7;
      }
      .cardWrap .card:hover h4{
        text-decoration: underline;
      }

      .cardWrap .card h6 { /* 카테고리 */
        margin: 16px auto 12px 0;
        color: var(--hagreen2);
      }
      .cardWrap .card h4 { /* 제목 */
        margin-bottom: 4px;
      }
      .cardWrap .card .origin-regular{
        color: var(--hagray3);
      }

      /*스크롤바 디자인*/
      .cardWrap::-webkit-scrollbar {
        height: 10px;
      }
      .cardWrap::-webkit-scrollbar-track {
        background: var(--hagray2);
        border-radius: 5px;
      }
      .cardWrap::-webkit-scrollbar-thumb {
        background: var(--hayellow1);
        border-radius: 5px;
      }
      .cardWrap::-webkit-scrollbar-thumb:hover {
        background: var(--hayellow2)
      }