@charset "UTF-8";

:root{
    --font-sans:"Noto Sans KR", sans-serif;

    --hagray1:#FAFAFA;
    --hagray2:#E7EAE5;
    --hagray3:#757B70;
    --hablack:#111111;

    --hagreen1:#3FBF5B;
    --hagreen2:#1B5E28;
    --hagreen3:#E8F5E9;

    --hayellow1:#F4B942;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-sans);
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    color: var(--hablack);
    background-color: var(--hagray1);
    padding-top: 80px;
}

/*본문*/
.container {
    max-width: 1440px;
    margin: 50px auto;
    padding: 0 80px;
}

.page-title {
    text-align: left;
}

.page-title > h1 {
    color: var(--hagreen2);
    font-size: 50px;
    font-weight: 700;
    margin: 0 0 8px 0;
}

.page-title>p {
    color: var(--hagray3);
    font-size: 16px;
    margin-bottom: 40px;
    display: flex;
    white-space: nowrap;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;
    margin-bottom: 60px;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.chips {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.chip {
    background-color: #FFFEFD;
    padding: 8px 14px;
    border-radius: 800px;
    font-size: 13px;
    cursor: pointer;
    border: 1px solid var(--hagray3);
}

.chip:hover {
    background-color: var(--hablack);
    color: var(--hagray1);
    font-weight: 600;
}

.search {
    display: flex;
    align-items: center;
    gap: 14px;
    background-color: #fff;
    border: 1px solid var(--hagray3);
    border-radius: 40px;
    padding: 6px 14px;
    width: 100%;
    max-width: 360px;
}

.search-select {
    color: var(--hablack);
    font-size: 15px;
    padding-left: 5px;
    padding-right: 10px;
    cursor: pointer;
    position: relative;
}

.search-select::after {
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid var(--hablack);
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
}

.search-input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: var(--hablack);
    font-size: 16px;
    margin-left: 15px;
}

.search-input::placeholder {
    color: #777;
}

/*검색버튼*/
.search-btn {
    width: 30px;
    height: 30px;
    background: var(--hablack);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-icon {
    width: 12px;
    height: 12px;
    border: 2.5px solid white;
    border-radius: 50%;
    position: relative;
    right: 1px;
    bottom: 1px;
}

.search-icon::after {
    content: "";
    width: 8px;
    height: 2.5px;
    border-radius: 10px;
    background: #fff;
    position: absolute;
    right: -7px;
    bottom: -3px;
    transform: rotate(40deg);
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 24px;
}

.card {
    max-width: 400px;
    width: 100%;
    height: 520px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    background-color: var(--hagreen3);
    cursor: pointer;
}

.card-img {
    width: 100%;
    height: 55%;
    overflow: hidden;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover {
    background-color: var(--hayellow1);
    box-shadow: 0 18px 30px rgba(10, 30, 18, 0.12);
    transform: translateY(-6px);
}

.card-content {
    padding: 18px 20px;
    display: flex;
    flex-direction: column;
    color: var(--hablack);
}

.tag {
    color: var(--hagreen2);
    font-weight: 700;
    font-size: 14px;
}

.title {
    font-size: 22px;
    font-weight: 800;
    margin-top: 5px;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.decs {
    font-size: 16px;
    margin-top: 6px;
    color: var(--hagray3);

    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.date {
    margin-top: auto;
    font-size: 12px;
    color: var(--hagray3);
}
/*숨겨진 카드 부분*/
.hidden {
    display: none;
}

.more-wrap {
    text-align: center;
    margin-top: 30px;
}

.load-more {
    padding: 12px 580px;
    background-color: var(--hagreen3);
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s;
    white-space: nowrap;
}

.load-more:hover {
    background-color: var(--hagreen2);
    color: #fff;
}
/*버튼 반응형*/
@media (max-width: 1440px){
    .more-wrap{
        display: flex;
        justify-content: center;
    }
    .load-more{
        width: 100%;
        max-width: 1200px;
        padding-left: 12px;
        padding-right: 12px;
    }
}
@media (max-width:1024px){
    .load-more{
        max-width: 800px;
        font-size: 16px;
    }
}
@media (max-width: 768px){
    .load-more{
        max-width: 600px;
        font-size: 15px;
    }
}
@media (max-width: 500px){
    .load-more{
        max-width: 90%;
        font-size: 14px;
        padding: 12px 10px;
    }
}